[Unit]
Description=Lyfe

[Service]
User=pi
Environment=ASPNETCORE_URLS=https://*:5001
WorkingDirectory=/home/pi/Lyfe
ExecStart=/home/pi/.dotnet/dotnet Lyfe.dll
Restart=on-failure

[Install]
WantedBy=multi-user.target
